{% extends "layouts/index.html" %}
{% block header %}
  <header>
    {% include
    "components/sections/topbar.html" %}
  </header>
{% endblock header %}
{% block main %}
  <div class="row flex-grow-1 overflow-auto">
    <section class="col-2 h-100 overflow-auto side-wrapper">
      {% include "components/sections/navbar.html" %}
    </section>
    <section class="col d-flex flex-column flex-grow-1 overflow-auto">
      {% block content %}
      {% endblock content %}
    </section>
    <section class="col">
      {% include "components/sections/sidebar.html" %}
    </section>
  </div class="row">
{% endblock main %}
