{% extends "layouts/index.html" %}
{% include "components/sections/topbar.html" %}

{% block main %}
  <div class="row overflow-auto h-100">
    <section class="col-2 side-wrapper h-100">
      {% include "components/sections/navbar.html" %}
    </section>
    <section id="content-wrapper"
             class="col-6 flex-grow-1 flex-column d-flex overflow-auto text-break h-100">
      {% block content %}
      {% endblock content %}
    </section>
    <section id="note-bar" class="col-4 side-wrapper h-100">
      {% include "components/sections/notebar.html" %}
    </section>
  </div>
{% endblock main %}
