{% extends "layouts/index.html" %}
{% block header %}
  {% include "components/sections/topbar.html" %}
{% endblock header %}
{% block main %}
  <div class="d-flex flex-row overflow-auto h-100">
    <section id="nav-bar" class="side-wrapper h-100 p-2">
      {% include "components/sections/navbar.html" %}
    </section>
    <section id="content-wrapper"
             class="flex-grow-1 flex-column d-flex overflow-auto text-break h-100">
      {% block content %}
      {% endblock content %}
    </section>
    <section id="note-bar" class="side-wrapper h-100 p-2">
      {% include "components/sections/notebar.html" %}
    </div>
  </div>
{% endblock main %}
