{% extends "components/sections/sidebar.html" %}
{% block sidebarcontent %}
  <nav class="p-2">
    <ul class="nav-container p-0">
      {% for nav_item in nav_items %}
        <li class="nav-item-container">
          <a href="{{ nav_item['url'] }}" class="nav-item-icon-wrapper">
            <i class="bi nav-item-icon {{ nav_item['icon'] or 'bi-link' }}"></i>
          </a>
          <a href="{{ nav_item['url'] }}" class="nav-item-title">{{ nav_item["name"] }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endblock sidebarcontent %}
