{% extends "components/sections/sidebar.html" %}
{% block sidebarcontent %}
  <div class="pt-2 pb-2 h-100">
    <div class="note-container">
      <input id="note-header"
             type="text"
             class="fs-5 ps-2 pe-2 mb-2 form-control-lg"
             placeholder="Note Title"/>
      <div class="note-line mb-3"></div>
      <textarea id="note-content"
                class="form-control-plaintext ps-2 pe-2 fs-7 overflow-y-auto overflow-x-hidden h-100"
                placeholder="Start typing here"></textarea>
    </div>
  </div>
{% endblock sidebarcontent %}
{% block post %}
  <button id="note-share-button" class="bi bi-upload sidebar-icon"></button>
{% endblock post %}
