{% block header %}
  <header class="header-container">
    <div class="col h-100 header-logo-container unselectable">
      <a href="{{ url_for('main.dashboard') }}">
        <h1>UniNote</h1>
      </a>
    </div>
    <ul class="d-flex col h-100 m-0 p-0 sortable-list overflow-x-auto">
      {% for header in topbar_items %}
        <li class="header-tab-item {{ 'active' if active_class == header.class_id }}">
          <a class="header-tab-link unselectable"
             href="{{ url_for('main.chatroom', class_id=header.class_id) }}">{{ header.class_id }}</a>
        </li>
      {% endfor %}
    </ul>
    <button class="logout-btn" onclick="logoutHandler()">Logout</button>
  </header>
{% endblock header %}
{% block common_script %}
  <script src="{{ url_for('static', filename='js/auth/logout.js') }}"></script>
{% endblock common_script %}
