<section class="forum-container d-flex gap-4 flex-column h-100">
  {% include "components/forum/searchbar.html" %}
  <div id="forum-note-list"></div>
  <div id="note-modal"
       class="modal fade"
       tabindex="-1"
       role="dialog"
       aria-labelledby="note-modal"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="note-modal-title">Note title</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body" id="note-modal-content">Note content</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>
