body {
  background-color: var(--app-accent-dark);
  color: var(--app-grey-0);
}

.auth-link {
  color: var(--app-accent-link);
}

.auth-link:hover {
  text-decoration: underline;
}

#auth-container > form {
  background-color: var(--app-grey-600);
}

#alert {
  white-space: pre;
  text-align: left;
}