body {
  background-color: var(--app-accent-dark);
  color: var(--app-grey-0);
}

button {
  border: none !important;
  background-color: var(--app-accent-light) !important;
}

button:focus,
button:active {
  box-shadow: none !important;
  filter: brightness(85%) !important;

}

button:hover {
  filter: brightness(95%);
}

#auth-container>form {
  background-color: var(--app-grey-600);
}

#alert {
  white-space: pre;
  text-align: left;
}