.nav-item-container {
  background: var(--app-grey-800);
  width: 5rem;
  height: 5rem;
}

.nav-item-image {
  font-size: 3rem;
}

#emoji-picker:not(.shown) {
  display: none;
}

.avatar {
  width: 3rem;
  height: 3rem;
}