.chatroom-container {
  display: flex;
}

.nav-wrapper {
  background: var(--app-grey-800);
}

.nav-container {
  display: flex;
  flex-flow: row wrap;
  background: #222020;
  overflow-y: scroll;
  padding: 2rem;
  gap: 2rem;
  justify-content: space-evenly;
  align-content: space-evenly;
}

/* maybe insert a ghost element into the list instead of this css hack
   or use a css grid, which would make responsive layouts more annoying
   (probably fine cos sidebars are usually fixed width)
*/
.nav-container::after {
  width: 4rem; /* must be same sizing as the nav-item-wrapper width */
  content: "";
}

.nav-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.nav-item-container {
  position: relative;
  padding: 2rem;
  border-radius: 1.25rem;
  background: var(--app-grey-50);
  width: 4rem;
  height: 4rem;
}

.nav-item-image {
  position: absolute;
  line-height: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.side-container {
  display: flex;
  /* width: 36rem; */
}
