.chatroom-container {
  height: 100%;
}

.nav-wrapper {
  background: var(--app-grey-800);
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem;
  gap: 1rem;
}

.nav-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item-image {
  aspect-ratio: 1 / 1;
  padding: 0.5rem;
  border-radius: 1.25rem;
  background: var(--app-grey-50);
}

.side-container {
  display: flex;
  /* width: 36rem; */
}
