body {
  color: white;
  background-color: var(--app-accent-dark);
}

.header-dashboard {
  min-height: 65px;
}

.class-cell {
  color: var(--app-grey-0);
  background: var(--app-grey-600);
  width: 100%;
  height: 200px;
  transition: background 0.1s ease-in-out;
}

.class-cell:hover {
  background: var(--app-grey-800);
}

.accordion-item {
  background-color: var(--app-grey-400) !important;
  outline: none;
  border: none;
}

.accordion-button {
  color: white !important;
  box-shadow: none!important;
  background-color: var(--app-grey-300) !important;
}

.accordion-button:focus {
  color: white !important;
  box-shadow: none;
}

.accordion-button::after {
  filter: invert(1);
  color: white !important;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  filter: invert(1);
  background: var(--bs-accordion-btn-icon) !important;
}

.accordion-collapse {
  background-color: var(--app-grey-400) !important;
}

