.note-item {
  aspect-ratio: 1 / 1;
  width: 100%;
  background: var(--app-grey-300);
  padding: 1rem;
  border-radius: 1rem;
  color: white;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--app-grey-50);
  border-radius: 9999px;
}

.searchbar-container > input {
  width: 100%;
  border: none;
  border-radius: 9999px;
  background: transparent;
  outline: none;
  margin-left: 1rem;
}

.searchbar-container > img {
  fill: var(--app-grey-100);
  margin-right: 1rem;
}

.forum-container {
  background: var(--app-grey-600);
}
