html {
  height: 100svh;
  /* overflow: hidden; */
  background: black;
}

:root {
  --app-accent-light: #522886;
  --app-accent-dark: #231336;
  --app-grey-0: white;
  --app-grey-50: #d9d9d9;
  --app-grey-100: #aaaaaa;
  --app-grey-200: #59626c;
  --app-grey-600: #414040;
  --app-grey-800: #201f1f;
  --app-grey-900: black;
}

.colour-grey-0 {
  color: var(--app-grey-0);
  fill: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--app-grey-800) var(--app-grey-0);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--app-grey-800);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--app-grey-50);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--app-grey-50);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
