.note-item {
  aspect-ratio: 1 / 1;
  max-width: 100%;
  background: var(--app-grey-300);
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
}

.note-item:hover {
  background: var(--app-grey-400);
  transition: 0.25s;
}

#notes-list {
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 1rem;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px!important;
  background: var(--app-grey-300);
  border-radius: 9999px;
  padding: 0 1em;
}

.searchbar-container:focus-within {
  box-shadow: 0 0 0 0.1rem var(--app-grey-100) !important;
}

.searchbar-container input {
  width: 100%;
  border: none;
  padding: 0.5em;
  background: transparent;
  outline: none;
}

.searchbar-container input:focus {
  box-shadow: none !important;
}

.searchbar-container > i {
  color: var(--app-grey-100);
  line-height: 0;
}

#notes-searchbar {
  padding-left: 0;
}

.notes-container {
  background: var(--app-grey-600);
}
.note-container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: var(--app-grey-600);
  color: var(--app-grey-0);
  padding: 2rem;
  overflow: hidden;
  height: 100%;
}

#note-menu {
  background: var(--app-grey-500);
  margin: 0;
  border-radius: 8px;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

#note-menu > .note-menu-item {
  color: var(--app-grey-0);
  padding: 0.5rem;
  cursor: pointer;
}

#note-menu > .note-menu-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#note-menu > .note-menu-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#note-menu > .note-menu-item:hover {
  background: var(--app-grey-700);
}

#note-menu:not(.shown) {
  display: none;
}

.note-container > .note-line {
  height: 2px;
  background: var(--app-grey-100);
}

#note-header {
  color: var(--app-grey-0);
  background: var(--app-grey-600) !important;
  transition: 0.25s;
}

#note-header:focus {
  background-color: var(--app-grey-700) !important;
}

#note-header:hover {
  background-color: var(--app-grey-700) !important;
}

#note-header:disabled {
  background-color: var(--app-grey-700);
}

.note-container > textarea {
  background-color: var(--app-grey-600) !important;
  color: var(--app-grey-0);
  border-radius: 0.5rem;
  transition: 0.25s;
  resize: none;
}

.note-container > textarea:hover {
  background-color: var(--app-grey-700) !important;
}

.note-container > textarea:focus,
.note-container > textarea:active {
  background-color: var(--app-grey-700) !important;
  box-shadow: 0 0 0 0.1rem var(--app-grey-100) !important;
}

.note-container > textarea:disabled {
  background-color: var(--app-grey-700);
}

.modal-content {
  background: var(--app-grey-600);
}
