<div id="chatbox-searchbar-box">
  <input type="search"
         id="search-chat-input"
         class="form-control"
         placeholder="Search conversation"/>
  <select id="search-chat-filter" class="form-select">
    <option value="From:">
      From:
    </option>
    <option value="Content:" selected>
      Content:
    </option>
  </select>
  <button type="button" id="search-button">
    <i class="bi bi-search" id="search-icon"></i>
  </button>
</div>
<div id="search-results">
  <text id="result-text">Search results...</text>
  <text id="result-string">0</text>
  <div id="search-results-box">
    <button type="button" id="iterate-up">
      <i class="bi bi-arrow-up" id="search-button-image"></i>
    </button>
    <button type="button" id="iterate-down">
      <i class="bi bi-arrow-down" id="search-button-image"></i>
    </button>
    <button type="button" id="close-search-results">
      <i class="bi bi-x" id="search-button-image"></i>
    </button>
  </div>
</div>
