<div id="chatbox-container" class="sticky-bottom flex-row d-flex z-0">
  <div id="chatbox-inner" class="d-flex flex-row flex-grow-1 mb-3 w-100">
    <textarea id="chatbox"
              class="flex-grow-1 rounded"
              placeholder="Send message"></textarea>
    <div id="chatbox-action-group" class="gap-2">
      <i id="emoji-picker-button"
         class="action d-flex bi bi-emoji-laughing unselectable"></i>
      <i id="send-button" class="action d-flex bi bi-send unselectable"></i>
    </div>
  </div>
</div>
<div id="emoji-picker"></div>
