<div id="chatbox-searchbar-box" class="py-2">
  <div id="form-outline">
    <input type="search"
           id="search-chat-input"
           class="form-control"
           placeholder="search conversation"/>
  </input>
</div>
<select id="form-select">
  <option value="From:">
    From:
  </option>
  <option value="Content:" selected>
    Content:
  </option>
</select>
<button type="button" id="search-button">
  <i class="bi bi-search" id="search-icon"></i>
</button>
</div>
<div id="search-results">
  <text id="result-text">Search results...</text>
  <text id="result-string">0</text>
  <div id="search-results-box">
    <button type="button" id="iterate-up">
      <i class="search-button-image bi bi-arrow-up"></i>
    </button>
    <button type="button" id="iterate-down">
      <i class="search-button-image bi bi-arrow-down"></i>
    </button>
    <button type="button" id="close-search-results">
      <i class="search-button-image bi bi-x"></i>
    </button>
  </div>
</div>
