{% extends "layouts/index.html" %}
{% block main %}
    {% include
    "components/sections/topbar.html" %}
    <div class="chatroom-container row">
        <aside class="col">
            <nav class="nav-wrapper">
                {% include
                "components/sections/navbar.html" %}
            </nav>
        </aside>
        <section class="col-8 bg-primary">
            {% include
            "components/chat/chatcontainer.html" %}
        </section>
        <aside class="col bg-secondary">
            {% include "components/sections/sidebar.html" %}
        </aside>
    </div>
{% endblock main %}
{% block style %}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/chatroom.css') }}"/>
{% endblock style %}
