{% extends "layouts/index.html" %}
{% block main %}
    <div class="container d-flex p-4 h-100">
        <div class="info-block">
            <h1>Welcome</h1>
            <p class="header">to UniNote</p>
            <p class="content">
                Introducing UniNote, the best place for class discussions and note taking. We encourage students to work together and collaborate among themselves.
                We know that keeping grasps of certain concepts can be difficult, so we have created a platform where students can ask questions and get answers from other students as well as tutors.
                Be yourself and be creative. Learn from others and teach others. We are all here to learn and grow together. Tutors and lecturers will be in the chatroom as well so feel free to ask them questions.
                We hope that you enjoy our platform and make it easier for you to learn and grow.
            </p>
            <a href="{{ url_for('main.login') }}" class="btn btn-primary">Get Started</a>
        </div>
        <img src="../static/assets/welcomeImage.png"
             alt="study image"
             width="630"
             height="450"/>
    </div>
{% endblock main %}
{% block style %}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/welcome.css') }}"/>
{% endblock style %}
